@font-face {
    font-family: "Crimson Pro";
    font-style: normal;
    font-weight: 400;
    src: url("Fonts/font1.woff2") format("woff2");
}

@font-face {
    font-family: "Crimson Pro";
    font-style: normal;
    font-weight: 600;
    src: url("Fonts/font2.woff2") format("woff2");
}

@font-face {
    font-family: "Ubuntu Mono";
    font-style: normal;
    font-weight: 400;
    src: url("Fonts/font3.woff2") format("woff2");
}