body {
    margin: 40px auto;
    max-width: 600px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
    background-color: #EEEEEE;
    font-family: 'Source Code Pro', monospace;
}

h1,
h2,
h3 {
    line-height: 1.2;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:focus,
a:hover {
    color: #0057b7;
    cursor: pointer;
    text-decoration: underline;
    transition: all .2s ease-in-out
}

footer {
    margin-top: 40px;
    text-align: center;
}