* { box-sizing: border-box; }

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #F0EAD6;
  color: #444;
  line-height: 1.6;
  overflow-x: hidden;
  padding-bottom: 80px;
}

main {
  flex: 1 0 auto;
  max-width: 600px;
  width: 100%;
  margin: 40px auto;
  padding: 0 10px;
}

h1, h2, h3 { line-height: 1.2; }

a { color: inherit; text-decoration: underline; }

a:focus, a:hover {
  color: #0057b7;
  cursor: pointer;
  text-decoration: underline;
  transition: all .2s ease-in-out;
}

hr {
  max-width: 600px;
  margin: 0 auto;
  flex-shrink: 0;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px 10px 40px 10px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}
